<div align="center">
  <h1> <%= @game.player_1.name %> punched <%= @game.player_2.name %> in the face! WTF?! </h1>
  <img src='http://i.imgur.com/23pJ3sz.gif'>

  <div>
    <%= @game.player_1.name %> has <%= @game.player_1.hp %>HP left
    <br>
    <%= @game.player_2.name %> has <%= @game.player_2.hp %>HP left
  </div>

  <form action= "/attack" >
    <div>
      <label for = "Attack back"><%= @game.defender.name %> YOU PUSSY, YOU GOT HIT. WHAT YO GONNA DO? </label>
      <br>
      <% @game.switch %>
      <input type="submit" value = "Attack!" style="font-family:'Orator Std'; color: white; font-size: 25px; height: 75; width: 235px; background-color: #000000;"/>
    </div>
  </form>

</div>
