<div align="center">
  <h1>
    <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
  </h1>
  <div>
    <%= @game.player_1.name %> has 60HP
  </div>
  <div>
    <%= @game.player_2.name %> has 60HP
  </div>


   <form action= "/attack" >
     <div>
       <label for = "player_1_name"><%= @game.player_1.name %>, fancy attacking <%= @game.player_2.name %>?</label>
       <br>
       <input type="submit" value = "Attack!" style="font-family:'Orator Std'; color: white; font-size: 25px; height: 75; width: 235px; background-color: #000000;"/>
     </div>
   </form>
</div>
